body {
    background-image: url("images/anna-hunko-ajE5goOGzZc-unsplash.jpg");
    background-size: 100% auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0; 
    padding: 0;
}

table, th, td {
    border: 1px solid black;
}

form, table {
    background: #fefae0;
    color: #bc6c25;
}

form {
    padding: 10px;
    border-radius: 7px;
}

button, input[type="submit"] {
    /* background: #fefae0; */
    color: #bc6c25;
}

#add-book-form {
    visibility: hidden;
}